body {
    font-family: 'DIN NEXT™ ARABIC BOLD', 'DIN NEXT™ ARABIC REGULAR', serif, Arial;
}

@font-face {
    font-family: 'DIN NEXT™ ARABIC BOLD';
    src: url('../fonts/DIN NEXT™ ARABIC BOLD.otf');
    font-weight: normal;
}

a {
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.clearfix {
    clear: both;
}

/*header*/
.header {
    position: relative;
    overflow: hidden;
}

.navbar {
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    width: 100%;
    z-index: 22;
}

.dropdown-toggle {
    color: #0a519f !important;
    font-weight: bold;
}

.nav-link {
    color: #0a519f !important;
    font-weight: bold;
}

.bord-login {
    border: solid 1px #0a519f;
    border-radius: 9px;
    width: fit-content;
    padding: 1px 9px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: cover;
}

.carousel-item {
    height: 100%;
}

.flex {
    position: absolute;
    z-index: 333;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.cap h1 {
    color: #fff;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 19px;
    margin-top: 99px;
}

.cap p {
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
}

.cap p:last-child {
    margin-bottom: 0px;
}

.like-holiday {
    position: absolute;
    bottom: -145px;
    text-align: center;
    width: 220px;
    margin: auto;
    height: 240px;
    background-color: #fff;
    border-radius: 50%;
    right: 0;
    left: 0;
}

.like-holiday img {
    width: 82%;
}

/*search*/

.search-left {
    text-align: right;
    margin-top: -405px;
}

.search .container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    top: -345px;
    bottom: 0;
}

.info-search h1 {
    color: #0A519F;
    font-size: 28px;
    text-transform: uppercase;
}

.info-search p {
    color: #E40200;
    font-size: 24px;
}

.social-search {
    padding-top: 50px;
}

.social img {
    background-color: #0A519F;
    color: white;
    padding: 8px;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.social h2 {
    font-size: 20px;
    color: #0A519F;
}

/* registration*/
.register {
    background: url("../image/Clip1.png")  center no-repeat fixed;
    background-size: cover;
    height: 365px;
    text-align: center;
    position: relative;
}

.ovarlay {
    background-color: rgba(10, 15, 159, 0.23);
    width: 100%;
    height: 100%;
}

.register h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

.register p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.register .reg-info {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.left-img {
    text-align: left;
    position: relative;
}

.left-img img {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 180px;
    object-fit: contain;
}

/* about us*/
.section-about-us {
    padding: 60px 0;
}

.section-about-us .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-about-us h1 {
    text-align: center;
    font-weight: bold;
    color: #0a519f;
    font-size: 55px;
}

.section-about-us span {
    color: #e40200;
    text-transform: capitalize;
    margin: 0 2px;
}

.section-about-us p {
    max-width: 677px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #0a519f;
}

.section-about-us p:first-child {
    margin-bottom: 30px;
    text-align: left;
}

.section-about-us p:last-child {
    margin-top: 30px;
    text-align: right;
    direction: rtl;
}

/*footer*/
.footer-top {
    background-color: #0A519F;
    padding: 20px 0;
    color: white;
}

.footer-top i {
    background-color: white;
    color: #0A519F;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.footer-top h1 {
    margin-top: -7px;
    text-transform: uppercase;
}

.last-child {
    margin-top: 23px;
}

/*sec-footer*/
.footer-dwon {
    background-color: #2279C9;
    padding: 10px 0;
}

.footer-dwon i {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.footer-dwon .fa-facebook-f {

}

.footer-dwon a {
    color: white;
    text-decoration: none;
}

.footer-dwon a:hover {
    color: #e40200;
}

.footer-top a {
    color: white;
    text-decoration: none;
}

.footer-top li {
    list-style: none;
    margin-bottom: 7px;
}

.footer-top li a:hover {
    color: #e40200;
}

.footer-top li .last-child:hover {
    color: #e40200;
}

.footer-top li .last-child {
    color: #e40200;
}

.text-right a {
    color: #0A519F;
}

.text-right a:hover {
    color: #e40200;
}

.active {
    background-color: #fff;
}
.search-right img{
    width: 300px;
}
@media (min-width: 1200px) {
    .bg-slider {
        position: relative;
    }

    .bg-slider .info-cap {
        position: absolute;
        top: 150px;
        width: 100%;
        padding: 136px 0;
        text-align: center;
        color: white;
        font-weight: bolder;
    }

    .info-cap h1 {
        font-size: 100px;
        font-weight: bold;
    }

    .info-cap p {
        font-size: 22px;
        font-weight: bold;
    }

}
@media (min-width: 1024px) {

    .info-cap h1 {
        font-size: 100px;
        font-weight: bold;
    }

    .info-cap p {
        font-size: 22px;
        font-weight: bold;
    }

    .cap p {
        font-size: 28px;
    }

}
@media (max-width: 992px) {
    .btn-log .nav-link {
        padding-left: 10px;
    }

    .search {
        position: relative;
        top: 50px;
    }

    .search .container {
        padding-top: 395px;
    }

    .info-search h1 {
        font-size: 22px;
    }

    .register {
        top: 48px;
    }

    .register h1 {
        font-size: 30px;
    }

    .register p {
        font-size: 17px;
    }

    .social-search {
        padding-left: 0;
    }

    .search-right {
        display: none;
    }

    .footer-top ul {
        padding-left: 0;
    }
}
@media (max-width: 767px) {
    .btn-log .nav-link {
        padding-left: 10px;
    }

    .search {
        position: relative;
        top: 50px;
    }

    .search .container {
        padding-top: 395px;
    }

    .social-search {
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .info-search h1 {
        font-size: 22px;
    }

    .register {
        top: 48px;
    }

    .register h1 {
        font-size: 30px;
    }

    .left-img img {
        bottom: 0px;
        width: 96px;
        height: 100px;
    }

    .register p {
        font-size: 17px;
    }

    .about-us p {
        text-align: center;
        font-size: 11px;
        padding: 10px 0;
    }

    .cap p {
        font-size: 28px;
    }

    .search-right {
        display: none;
    }

    .footer-top ul {
        padding-left: 0;
    }
    .section-about-us p {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .btn-log .nav-link {
        padding-left: 10px;
    }

    .search {
        position: relative;
        top: 50px;
    }

    .search .container {
        padding-top: 395px;
    }

    .info-search h1 {
        font-size: 22px;
    }

    .register {
        top: 48px;
    }

    .register h1 {
        font-size: 30px;
    }

    .register p {
        font-size: 17px;
    }

    .bg-slider .info-cap {
        padding: 31px 0;
        top: 31px;
        line-height: 0.5;
    }

    .bg-slider .info-cap h1 {
        font-size: 25px;
    }

    .bg-slider .info-cap p {
        font-size: 14px;
    }

    .social-search {
        padding-left: 0;
    }

    .cap p {
        font-size: 16px;
    }
    .cap h1 {
        font-size: 36px;
        margin-top: 0;
    }
    .search-right {
        display: none;
    }

    .footer-top ul {
        padding-left: 0;
    }
}












